<div class='text-center mb-4'>
  <h1 class='text-2xl font-bold text-purple-950'>Account Verification Successful</h1>
  <p class='text-purple-900 mb-4'>Your account has been successfully verified. You can now log in and access all the features of our application.</p>
</div>
