<% content_for(:title){ "Password Reset For ArcEx" } %>
<% content_for :body do %>
  <div class="text-left">
    Dear <%= @resource.name_or_email %>,
  </div>
  <div class="mt-3 text-left">
    Your ArcEx password has been changed.
  </div>
<% end %>