<% content_for(:title){ "Password Reset For ArcEx" } %>
<% content_for(:body_title){ "Reset Password" } %>
<% content_for :body do %>
  <div class="text-left">
    Dear <%= @resource.email %>,
  </div>
  <div class="my-3 text-left">
    Someone has requested a link to change your password. You can do this through the link below.
  </div>
  <div class="text-center">
    <%= link_to 'Change my password', dynamic_reset_user_password_url(@token), class: 'btn btn-primary' %>
  </div>
<% end %>
<% content_for :sub_body do %>
  <hr>
  <div class='mt-4 text-muted text-small'>
    If you didn't request this, please ignore this email.
    <br>
    Your password won't change until you access the link above and create a new one.
  </div>
<% end %>
<% content_for :scripts do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "EmailMessage",
      "description": "Reset password for my ArcEx account",
      "action": {
        "@type": "ViewAction",
        "url": "<%= dynamic_reset_user_password_url(@token) %>",
        "name": "Reset Password"
      },
      "publisher": {
        "@type": "Organization",
        "name": "ArcEx",
        "url": "https://ArcEx.com"
      }
    }
  </script>
<% end %>